@import 'colors.module';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: $defaultBlack;
  min-height: 100vh;
  color: $defaultWhite;

  p {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $defaultBlack;
}
::-webkit-scrollbar-thumb {
  background: $thumbCyan;
  border-radius: 40px;
}